<div class="jumbotron my-4">
  <h1 class="display-4">Welcome to online test center</h1>
  <!-- <table class="table">
    <tr>
      <td>
        <a routerLink="/test" routerLinkOption="active">Take Test
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">Review Test</a>
      </td>
    </tr>
  </table> -->
</div>
<div class="card py-4 px-2 ">
  <a routerLink="/test" routerLinkOption="active">Take Test </a>
</div>
<div class="card py-4 px-2 mt-2">
  <a routerLink="/review" routerLinkOption="active">Review Test </a>
</div>